<div class="row" align = "left">
 <div class="col-md-8"></div>
 <div class="col-md-8">
  <h2>Log in to Personal Planner </h2>
  <a href = "#!/create"> create account </a><br><br>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" ng-model = "email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" ng-model = "password" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <button type="button" ng-click = "login()" class="btn btn-primary">Sign in</button>
</div>
 <div class="col-md-8"></div>
</div>