<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
<script src="./js/scripts/angular/angular.min.js"></script>
<script src="./js/scripts/angular-route/angular-route.min.js"></script>
<script src="./js/scripts/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./js/scripts/angular-cookies/angular-cookies.min.js"></script>
<script src="./js/scripts/angular-cookies/angular-cookies.js"></script>
<script src="./js/scripts/ngstorage/ngStorage.js"></script>
<script src="./js/scripts/ngstorage/ngStorage.min.js"></script>

    <!-- zune theme -->
  <title>Personal Planner</title>

  <!-- Bootstrap core CSS -->
  <link href="./publicstatic/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="./publicstatic/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="./publicstatic/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top" ng-app = "myApp" ng-controller= "personalController">

  <!-- Navigation -->
	
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> {{user}} </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i> 
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
		
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Goals1">Personal Goals </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Workgoals">Work Goals </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="javscript:void(0)" ng-click="back()" >logout </a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->

  <header class="masthead">
    <div class="container">
      <div class="intro-text">
       		<div ng-view = ""> </div>
      </div>
    </div>
  </header>

  <!-- Personal Goals -->
 <div ng-show = "main">
    <section class="page-section" id="Goals1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"> Personal Goals </h2>
          <h3 class="section-subheading text-muted"> Track of my own personal successes and desires <br> <br> 
		  <a id = 'test' ng-click = "AddTextarea('p')" href="#!/login"> add goal </a> <br><br>
			<div ng-show = "myVar">
				<b> Goal Title </b> <input type = 'text' ng-model = "goaltitle" name = 'title'  size = '41'> <br> <br>
				<b> Date  Entered </b> <input type="date" ng-model = "goaldate" name= 'bday' name = 'date1' style="width:354px"> <br> <br>
				<textarea value='' ng-model = 'postdata' rows='10' cols='50'> </textarea> <br> <br> 
				<button type='button' ng-click = "Postgoal('p')"class='btn btn-warning'>   Post  </button>
				<button type='button' ng-click = "Cancel('p')"  class='btn btn-warning'> Cancel </button> <br><br>
			</div>
			
		  </h3>
        </div>
      </div>

	 <div class="row text-center">
  
       <!-- <div class="col-md-4" ng-bind-html="trustAsHtml(myHtmlVar)" > </div> -->
       <div class="col-md-4" ng-repeat="picklist1 in picklists1"> 
       <!-- <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-book fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div> -->
        <span class='fa-stack fa-4x'>
          <i class= 'fas fa-circle fa-stack-2x text-primary'></i>
          <i class='fas fa-book fa-stack-1x fa-inverse'></i>
          </span>
          <h4 class='service-heading'> {{picklist1.goal}}
          <h5> ========== {{picklist1.goalstatus}} 
          ==========  </h5>
          <p class='text-muted'> {{picklist1.goaldesc}}
          <b> Set date: {{picklist1.goaldate}}
          </b> </p>
          <button type='button' ng-click = 'meetGoal(picklist1)' class='btn btn-warning'
          name = '{{picklist1.butmet}}'
           id = '{{picklist1.butmet}}'>
             Goal Met  </button>
          <button type='button' ng-click =' removeGoal(picklist1)' class='btn btn-warning'
          name = '{{picklist1.butremove}}'
          id = '{{picklist1.butremove}}'
          >
           Remove Goal </button> <br><br>
      </div>
      </div>
	  
    </div>
    </section>
 
    <section class="page-section" id="Workgoals">
  
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"> Work Goals </h2>
        <h3 class="section-subheading text-muted"> Track of my own personal successes and desires <br> <br> 
    <a id = 'test' ng-click = "AddTextarea('w')" href="#!/login"> add goal </a> <br><br>
    <div ng-show = "myVarw">
      <b> Goal Title </b> <input type = 'text' ng-model = "goaltitlew" name = 'title'  size = '41'> <br> <br>
      <b> Date  Entered </b> <input type="date" ng-model = "goaldatew" name= 'bday' name = 'date1' style="width:354px"> <br> <br>
      <textarea value='' ng-model = 'postdataw' rows='10' cols='50'> </textarea> <br> <br> 
      <button type='button' ng-click = "Postgoal('w')" class='btn btn-warning'>   Post  </button>
      <button type='button' ng-click = "Cancel('w')"  class='btn btn-warning'> Cancel </button> <br><br>
    </div>
    
    </h3>
      </div>
    </div>

     <div class="row text-center">

     <!-- <div class="col-md-4" ng-bind-html="trustAsHtml(myHtmlVar)" > </div> -->
     <div class="col-md-4" ng-repeat="picklist2 in picklists2"> 
       <!-- <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-book fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div> -->
        <span class='fa-stack fa-4x'>
          <i class= 'fas fa-circle fa-stack-2x text-primary'></i>
          <i class='fas fa-laptop fa-stack-1x fa-inverse'></i>
          </span>
          <h4 class='service-heading'> {{picklist2.wgoal}}
          <h5> ========== {{picklist2.wgoalstatus}} 
          ==========  </h5>
          <p class='text-muted'> {{picklist2.wgoaldesc}}
          <b> Set date: {{picklist2.wgoaldate}}
          </b> </p>
          <button type='button' ng-click = 'meetGoalWork(picklist2)' class='btn btn-warning'
          name = '{{picklist2.wbutmet}}'
           id = '{{picklist2.wbutmet}}'>
             Goal Met  </button>
          <button type='button' ng-click =' removeGoalW(picklist2)' class='btn btn-warning'
          name = '{{picklist2.wbutremove}}'
          id = '{{picklist2.wbutremove}}'
          >
           Remove Goal </button> <br><br>
      </div>
      </div>
    </div>
   </section>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Personal Planner 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <!--<li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li> -->
            <li class="list-inline-item">
              <a href="https://www.facebook.com/silindokuhle.maa">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/silindokuhle-nkabinde-743497161/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="./publicstatic/img/portfolio/01-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Threads</li>
                  <li>Category: Illustration</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="./publicstatic/img/portfolio/02-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Explore</li>
                  <li>Category: Graphic Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="./publicstatic/img/portfolio/03-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Finish</li>
                  <li>Category: Identity</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="./publicstatic/img/portfolio/04-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Lines</li>
                  <li>Category: Branding</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="./publicstatic/img/portfolio/05-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Southwest</li>
                  <li>Category: Website Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="./publicstatic/img/portfolio/06-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Window</li>
                  <li>Category: Photography</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="./publicstatic/vendor/jquery/jquery.min.js"></script>
  <script src="./publicstatic/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="./publicstatic/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="./publicstatic/js/jqBootstrapValidation.js"></script>
  <script src="./publicstatic/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="./publicstatic/js/agency.min.js"></script>
</div>
	</div>
<script src="./js/app.js"> </script>
<script src = "./js/controllers/loginController.js"> </script>
<script src = "./js/controllers/createController.js"> </script>
<script src = "./js/controllers/personalController.js"> </script>
<script src = "./js/services/postGoalService.js"> </script>
<script src = "./js/services/createAccountService.js"> </script>
	
</body>

</html>


